* {
    margin: 0;
}


body {
    
    --background-color: #151515;
    --text-color: #fff;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
   
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;

  
    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
  }

  body.bright {
    --background-color: #fff;
    --text-color: #151515;
  }
  

html { 
    font-size: 16px;
}

h1 {
    font-size: 4.5rem;
}



@font-face {
    font-family: 'TT Norms Pro';
    src: url(src/TT_Norms_Pro_Bold.woff);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'TT Norms Pro';
    src: url(src/TT_Norms_Pro_Regular.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Silk Serif';
    src: url(src/Silk_Serif_Medium.woff);
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'Silk Serif';
    src: url(src/Silk_Serif_SemiBold_Italic.woff);
    font-style: italic;
    font-weight: bold;
}



#sans { 
    font-family: 'TT Norms Pro';
    font-weight: normal;
    
}

.serif-italic {
    font-family: 'Silk Serif';
    font-weight: bold;
    font-style: italic;
}

.serif-regular {
    font-family: 'Silk Serif';
    font-weight: medium;
    font-style: normal;
}



/* Definition der Sinnabschnitte */

body { 
    
    margin-top: 1.5rem;
}

#nav {
    position:absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: 'TT Norms Pro';
    font-weight: medium;
    font-weight: bold;
    font-size: 3rem;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container-headline {
    display: flex;
    justify-content: space-between;

}

#service {
    margin-top: 14rem;
}

.service-headline {
    font-size: 3rem;
    
    margin: 0rem 8rem;
}

.service-body {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0.2rem 22rem;
    margin-bottom: 7rem;
}

.space-service {
    margin-top: 1.75rem;
}

#contact-headline {
    font-family: 'TT Norms Pro';
    font-weight: regular;
    
    font-size: 2rem;
    margin: 2rem 8rem 0rem 8rem;

    

}

#contact-adress {
    font-family: 'Silk Serif';
    font-weight: regular;
    
    font-size: 2rem;
    margin: 0 8rem;
    color: var(--text-color);
    text-decoration: none;
}

#contact-adress:visited {
    color: var(--text-color);
}

/* Dark Mode Switch */

#toggler {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
}

 
